[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-tagulous = {git = "https://github.com/dubirajara/django-tagulous"}
urlobject = "*"

[dev-packages]

[requires]
python_version = "3.6"
