[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
urlobject = "*"
django-taggit = "*"
django-autocomplete-light = "*"

[dev-packages]

[requires]
python_version = "3.6"
