[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-taggit = "*"
django-autocomplete-light = "*"
urlobject = "*"
requests = "*"
pygal="*"
whoosh = "*"
django-haystack = "*"

[dev-packages]
pytz = "*"
mysql-connector = "*"

[requires]
python_version = "3.6"
