@import url("/static/admin/css/base.css");

#header {
	background: #fd5f5f;
	color: white;
}

#branding h1 a {
	color: white !important;
}

.module caption {
	background: #ea5858;
}

div.breadcrumbs {
	background: #ea5858;
	color: white;
}

input[type=submit] {
	background: #fd5f5f;
}

input[type=submit].default {
	background: #ea5858;
}

a.changelink, a.addlink {
	color: #fd5f5f;
}

li.changelink a, li.addlink a {
	color: #fd5f5f;
}

.module tr th a {
	color: #ea5858;
}

.module h2 {
	background: #ea5858;
}

#changelist-filter li.selected a {
	color: #fd5f5f !important;
}

.object-tools a:focus, .object-tools a:hover {
	background-color: #ea5858;
}

.button:active, input[type=submit]:active, input[type=button]:active, .button:focus, input[type=submit]:focus, input[type=button]:focus, .button:hover, input[type=submit]:hover, input[type=button]:hover {
	background-color: #ea5858;
}

.button.default:active, input[type=submit].default:active, .button.default:focus, input[type=submit].default:focus, .button.default:hover, input[type=submit].default:hover {
	background-color: #d45e5e;
}