{% extends 'qdb/base.html' %}

{% block content %}
	<h1>{% block title %}About{% endblock %}</h1>
	<h3>History</h3>
	<p>Blairbash was created in 2009 by Will Shepherdson, using <a href="http://chirpy.sourceforge.net/">Chirpy</a>, in response to the popularity of quote databases at other schools, such as TJbash and Stuybash. It gained popularity quickly, gathering over 300 quotes on its first day, May 21st, 2009. This iteration of the site was used for almost 10 years, collecting over 5,000 quotes, until the summer of 2018, when Kevin Higgs and William Wang decided to write a new Blairbash. The new site contained numerous improvements, including an updated design, captcha verification, and password salting. The new site went live at the start of the 2018-2019 school year, and is open source on <a href="https://github.com/blairsec/blairbash">GitHub</a>.</p>
	<h3>Moderators</h3>
	<p>Blairbash is moderated by students, with moderation passed down to a new student every time the current moderator graduates. Not all past moderators are known. The ones we are aware of are as follows:</p>
	<ul>
		<li>Will Shepherdson, <em>2009&mdash;2011</em></li>
		<li>James, <em>2009&mdash;2012</em></li>
		<li>Lori, <em>2011&mdash;2012</em></li>
		<li>Jessica, <em>2011&mdash;2013</em></li>
		<li>Daniela, <em>2013&mdash;2014</em></li>
		<li>Victoria Tsai, <em>2013&mdash;2016</em></li>
		<li>Sambuddha Chattopadhyay, <em>2016&mdash;2017</em></li>
		<li>Reynald Benedict Oliveria, <em>2017&mdash;2019</em></li>
		<li>Kevin Higgs, <em>2019&mdash;2021</em></li>
	</ul>
	<p>The current moderators are Leela Mehta-Harwitz and Linhui Jin.</p>
{% endblock %}
