{% load static %}
{% load template_exists %}
<html>
	<head>
		{% if "analytics.html"|template_exists %}
			{% include "analytics.html" %}
		{% endif %}
		<title>Blairbash.org | {% block title %}{% endblock %}</title>
		<link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
		<link rel="stylesheet" href="{% static 'qdb/style.css' %}">
		<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|Source+Code+Pro" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta property="og:site_name" content="Blairbash.org">
		{% block css %}
		{% endblock %}
	</head>
	<body>
		<header class="main">
			<h1><a href='/'>Blairbash.org</a></h1>
			<nav class="main">
				<ul>
					<li{% if request.path == '/' %} class="active" {% endif %}><a href="/">Home</a></li><!--
					--><li{% if request.path == '/about' %} class="active" {% endif %}><a href="/about">About</a></li><!--
					--><li{% if request.path == '/latest' %} class="active" {% endif %}><a href="/latest">Latest</a></li><!--
					--><li{% if request.path == '/random' %} class="active" {% endif %}><a href="/random">Random</a></li><!--
					--><li{% if request.path == '/top' %} class="active" {% endif %}><a href="/top">Top</a></li><!--
					--><li{% if request.path == '/bottom' %} class="active" {% endif %}><a href="/bottom">Bottom</a></li><!--
					--><li{% if request.path == '/search' %} class="active" {% endif %}><a href="/search">Search</a></li><!--
					--><li{% if request.path == '/tags' %} class="active" {% endif %}><a href="/tags">Tags</a></li><!--
					--><li{% if request.path == '/stats' %} class="active" {% endif %}><a href="/stats">Stats</a></li><!--
					--><li{% if request.path == '/submit' %} class="active" {% endif %}><a href="/submit">Submit</a></li>
				</ul>
			</nav>
		</header>
		<section class="main">
			{% block content %}
			{% endblock %}
		</section>
		{% block js %}
		{% endblock %}
	</body>
</html>
