{% extends 'qdb/quotes.html' %}

{% block css %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block search %}
	<form class="search">
		<div><label>Find:</label><input value="{{ query }}" type="text" name="q"></div>
		<div><label>Tag:</label><select style="width: 100%" class="tag-input" name="tag"></select></div>
		<button type="submit">Search</button>&nbsp;
		<button type="reset" onclick="resetSelect()">Clear</button>
	</form>
{% endblock %}

{% block js %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.tag-input').select2({
				ajax: {
					url: '/tags/autocomplete',
					dataType: 'json'
				}
			})
			var option = new Option('{{ tag }}', '{{ tag }}', true, true)
			$('.tag-input').append(option).trigger('change')
			$('.tag-input').trigger({
				type: 'select2:select'
			})
		})

		function resetSelect() {
			$('.tag-input').val('').trigger('change')
		}
	</script>
{% endblock %}